{% extends "task/base.html" %}

{% block content %}

<div class="container">

    {% if count > 0 %}

        <br>
        <div class="container">
            <a class="btn btn-warning" href="{% url 'add-project' %}">ADD PROJECT</a>
        </div>

        <br>
        <div class="container">       
            <div>
                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Add Task
                </button>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="container">   
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-dark" type="submit" name="Submit"/>
                        </form>
                    </div>
                </div>
            </div> 
        </div>

        <br>
        <br>
        <div class="container">    
            {% for project in projects %}   
                <div class="card">
                    <h4>{{ project }}</h4>
                    <br>
                    {{count_task}}
                    {% if project.get_task_count > 0 %}
                        <div class="card-body">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    {% for task in project.get_filtered_tasks %}
                                        <li class="list-group-item">
                                            <h5>{{ task }}</h5>
                                            <strong>Start : </strong> {{task.start_date}}<br>
                                            <strong>End   : </strong> {{task.end_date}}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>

    {% else %}

        <br>
        <h3>It seems you don't have any projects to create tasks</h3>
        <h4>Please add atleast one project to continue..</h4>   
        <br>
        <a class="btn btn-warning" href="{% url 'add-project' %}">ADD PROJECT</a>

    {% endif %}
    <br>

</div>

{% endblock content %}